.fixed-bg {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%; 
    width: 100%;
    color: white;
    text-align: center;
    display: table;
}

.scroll-bg {
    background-color: #0f0f0a;
    padding: 10px 70px;
    color: #676767;
}

.background-custom {
    background-image: url('../assets/yoga-background.jpg');
}